.pComment{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
    background-color: var(--color-gray-50);
    border-radius: 0.5rem;
}
.pComment_content{
    display: block;
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1.4rem;
}
.pComment_creator{
    display: block;
    font-size: 0.9rem;
    color: var(--color-gray-100);
}
.pComment_likeProduct{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        width: 90px;
        height: 2rem;
        border-radius: 1rem;
    background-color: var(--color-green-1);
    color: var(--color-green-2);
}
.pComment_text{
        font-size: 1rem;
        color: var(--color-gray-100);
}