.account{
    display: block;
    width: 100%;
    margin: 3rem 0;
}
.account_profile{
    display: block;
    text-align: center;
}
.account_profile_img{
    width: 100px;
}
.account_profile_name{
    font-family: var(--color-bold);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-black);
}
.account_profile_date{
display: block;
margin-top: 0.6rem;
color: var(--color-gray-100);
}
.account_profile_phoneNumber{
    display: block;
    margin-top: 0.6rem;
    color: var(--color-gray-100);
}
.account_profile_exitIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0;
    outline: none;
    border: none ;
    border-radius: 1rem ;
    background-color: var(--color-red-2);
    color: var(--color-white);
    transition: all 0.4s ease-in;
}
.account_profile_exitIcon:hover{
    background-color: var(--color-red-1);
}
.account_profile_icon{
    margin-left: 0.4rem;
    font-size: 1.4rem;
}
.account_profile_exitText{
    font-size: 1rem;
}

.account_menu{
    display: block;
    width: 100%;
}
.account_menu_items{
    display: block;
    margin-trim: block-end;
}
.account_menu_item{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
   cursor: pointer;
    transition: all 0.4s ease-in;
}
.account_menu_item:hover{
    background-color: var(--color-gray-50);
    color: var(--color-red-1);
}
.account_menu_itemActive{
    background-color: var(--color-gray-50);
    color: var(--color-red-1);
}
.account_menu_icon{
    font-size: 1.3rem;
    margin-left: 0.4rem;
}
.account_menu_text{
    font-size: 1.2rem;

}


.account_title{
    display: block;
    width: 100%;
    font-family: var(--font-black);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}





 /*  Media Query  */

 @media only screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px) {
.container{
    max-width: 720px;
}
    
}
@media only screen and (max-width: 768px) {
.container{
    max-width: 540px;
}
#wrapper{
    display: block;
    margin-top: 2rem;
}

}
@media only screen and (max-width: 576px) {
.container{
    max-width:  100%;
}
}