.weblogCard{
    display: flex;
    text-decoration: none;
    background-color: var(--color-gray-50);
    color: var(--color-black);
    padding: 1rem;
    border-radius: 0.5rem;    
    transition: all 0.4s ease-in;
    margin-bottom: 1rem;
}
.weblogCard:hover .weblogCard_title{
    color: var(--color-red-1);
}
.weblogCard_img{
    max-width: 250px;
    border-radius: 0.5rem;
}
.weblogCard_content{
    display: block;
    margin-right: 1.5rem;
}
.weblogCard_title{
    font-family: var(--font-black);
    font-size: 1.5rem;
    transition: all 0.4s ease-in;
}
.weblogCard_paraph{
    font-size: 1rem;
    width: 100%;
    margin-top: 2rem;
}
.weblogCard_date_creator{
    display: block;
    text-align: left;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
}