.product{
    display: block;
    width: 100%;
    margin: 3rem 0;
}


.product_grouping{
    margin: 2rem 0;
}
.product_grouping_items{
    display: block;
    width: 100%;
}
.product_grouping_item{
    
}
